.header{
    background-color:black;
    margin-bottom: 0px;
    text-align: center;  
}

.main .card{
    margin-bottom: 15px;
}

.footer{
    background-color:black;
    margin-top: 10px;
    color:white;
    height: 150px;
    
}

.logo{
    width: 90px;
}

.header_area{
    padding: 20px;
}

.menu_area{
    margin-top: 30px;
}

.menu_area nav a{
    color: white;
    font-size: x-large;
}

.menu_area nav a:hover{
    background-color: rgb(255, 255, 255);
    color: black;

}

.footer_area{
    padding: 15px;
    text-align: center;
}

#copyright{
    padding: 50px;
    text-align: center;
    font-size: large;
}

.logo_footer{
    width: 120px;
    margin-right: 40px;
}

.slogan-filtro{
    background-image: url('img-background-a-nova-economia.jpg');
    background-size: 100% 100%;
    height: 400px;
    
}

.btn-group{
   margin-bottom: 10px;
}

ul {
    list-style: none;
}

ul li {
    position: relative;
}

li ul {
    position: absolute;
    display: none;
}

li:hover ul { 
    display: block;
}

.dropdown-item{
    margin: 0;
}

.titulos-destaques{
    color: rgb(4, 4, 4);
    margin-top: 5px;
    margin-right: 50px;
    font-size: xx-large;
}

.card-img-top{
    width: 100%;
    height: 250px;
}

#destaque{
    margin-bottom: 0px;
    background-image: url('background-branca.png');
    background-size: 100% 100%;
}

.botao{
    margin: 10px;
    width: 150px;
    margin-left: 45%;
}

.footer{
    margin-top: 0px;
    width: 100vw;
}

.titulo-destaques{
    text-align: center;
}

div nav a {
    margin-left: 25px;
}

/* Media Queries */

@media screen and (max-width:370px) 
{
    .logo_footer{
        width: 100%;
        align-items: center;
        margin-top: 10px;
    }

    #copyright{
        padding: 40px;
        text-align: center;
        display: none;
    }

    #imagensnovidades{
        width: 100%;
        height: 100%;
        
    }

    .slogan{
        color: rgb(0, 0, 0);
        margin-top: 0%;
        text-align: center;
        font-size: x-large;
    }


}

@media screen and (max-width:426px) 
{
    .logo_footer{
        width: 90%;
        align-items: center;
        margin-bottom: 5px;
        margin-left: 15px;
    }

    #copyright{
        padding: 40px;
        text-align: center;
        display: none;
    }

    #imagensnovidades{
        width: 100%;
        height: 100%;
        
    }

    .slogan{
        color: rgb(0, 0, 0);
        margin-top: 0%;
        text-align: center;
        font-size: x-large;
    }


}

@media screen and (min-width:427px) and (max-width:768px)
{
    #imagensnovidades{
        width: 100%;
        height: 90%;
        
    }

    .logo_footer{
        width: 100%;
        align-items: center;
        margin-top: 20px;
    }

    #copyright{
        padding: 50px;
        text-align: center;
        font-size: medium;
    }

    .slogan{
        color: rgb(0, 0, 0);
        margin-top: 0%;
        text-align: center;
        font-size: x-large;
    }

}

@media screen and (min-width:539px) and (max-width:541px)
{
    #imagensnovidades{
        width: 100%;
        height: 90%;
        
    }

    .logo_footer{
        width: 75%;
        height: 85%;
        align-items: center;
        margin: 0 0 20px 0;
    }

    #copyright{
      display: none;
    }

    .slogan{
        color: rgb(0, 0, 0);
        margin-top: 0%;
        text-align: center;
        font-size: x-large;
    }

}

@media screen and (min-width:769px) and (max-width:1800px)
{
    #imagensnovidades{
        width: 100%;
        height: 90%;
        
    }

    .logo_footer{
        width: 100%;
        align-items: center;
    }

    #copyright{
        padding: 50px;
        text-align: center;
        font-size: large;
    }

    .slogan{
        color: rgb(0, 0, 0);
        margin-top: 0%;
        text-align: center;
        font-size: xx-large;
    }

    #container .container{
        width: 100vw;
    }


}

@media screen and (min-width:769px) and (max-width:1200px)
{
    #imagensnovidades{
        width: 100%;
        height: 90%;
        
    }

    .logo_footer{
        width: 100%;
        align-items: center;
        margin-top: 10px;
    }

    #copyright{
        padding: 50px;
        text-align: center;
        font-size: large;
    }

    .slogan{
        color: rgb(0, 0, 0);
        margin-top: 0%;
        text-align: center;
        font-size: xx-large;
    }

    #container .container{
        width: 100vw;
    }


}

@media screen and (min-width:1280px)
{
    #imagensnovidades{
        width: 100%;
        height: 320px;
        
    }

    .logo_footer{
        width: 100%;
        align-items: center;
    }

    #copyright{
        padding: 50px;
        text-align: center;
        font-size: large;
    }

    .slogan{
        color: rgb(4, 4, 4);
        margin-top: 0%;
        text-align: center;
        font-size: xx-large;
    }


}

@media screen and (min-width:427px) and (max-width:992px)
{
    #none{
        display: none;
    }
}

/* Media Queries Fim */
